height: 100%;
text-align: center;
}
header {
text-align: center;
}
.center {
display:block;
margin: 0 auto;
width: 50%;
}

figcaption{
text-align: center;
}
p{
text-align: center;
}
#details{
float: left;
}
div{
float: left;
background-color: rgb(91, 91, 177);
padding: 85px;
}